<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Validación de cuenta - Sublime Gracia</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- use the font -->
    <style>

        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

        *{
            font-family: 'Montserrat', sans-serif;
            box-sizing: border-box;
            color: #fdfdfc;
        }

        img {
            transform: scale(0.5);
            padding-top: 0;
            padding-bottom: 0;
        }

        body {
            font-family: 'Montserrat', sans-serif;
            font-size: 48px;
            background: #E1F1C1;
        }

        header{
            background: #C4DC94;
        }

        a:visited, a:link, a:active {
            color: #04441C;
        }

        div {
            background: #C4DC94;
        }

        p {
            padding: 15px 50px 5px 40px ;
        }

        main p{
            font-size: 1.2rem;
            padding: 0px 50px 0px 40px ;
        }

        b {
            color: #04441C;
        }

        footer{
            align-items: center;
            background-color: #C4DC94;
            bottom: 0;
            color: white;
            font-size: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px 50px 10px 40px ;
            margin-top: 40px;
        }
    </style>
</head>
<body>
<header>
    <img src="https://bucketsublimegracia.s3.amazonaws.com/LogoBlanco.png" alt="Logo" />
</header>
<div>
    <p>Hola! <b th:text="${nombre + ' ' + apellido}"></b></p>
    <main>
        <p>
            Estas a un paso de completar exitosamente tu registro en <b>Sublime Gracia</b> el día de hoy
            <b th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></b>
        </p>

        <p>
            Para <b>completar tu registro</b>, por favor, haz click en el siguiente <a th:href="${link}">enlace</a>
        </p>
        <p>
            Un saludo
        </p>
    </main>
    <p><b>Sublime Gracia</b></p>
</div>
<footer>
    <h6>©2023 Sublime Gracia</h6>
</footer>

</body>
</html>